:root {
  --primary-color: #0a192f;
  --secondary-color: #101f37;
  --accent-color: #64ffda;
  --primary-font-color: #ccd6f6;
  --secondary-font-color: #8892b0;
  --fs-xxxl: 4rem;
  --fs-xxl: 2rem;
  --fs-xl: 1.2rem;
  --fs-xs: 0.8rem;
  --fs-xxs: 0.7rem;
  --fira-font: 'Fira Code';
  --standard-font: 'Roboto mono';
  --margin-xs: 8px;
  --margin-s: 16px;
  --margin-l: 24px;
  --margin-xl: 40px;
  --margin-xxl: 48px;
  --footer-height: 64px;
  --border-radius: 15px;
}

.dark-mode {
  --primary-color: #838f76;
  --accent-color: #d398b2;
  --primary-font-color: #f6f6e5;
  --secondary-font-color: #8892b0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  color: var(--primary-font-color);
  font-family: var(--standard-font), sans-serif;
  line-height: 1.1;
}

a {
  text-decoration: none;
  color: var(--primary-font-color);
}
li {
  list-style: none;
}

.mail_link {
  display: flex;
  flex-direction: column;
  width: 40px;
  position: fixed;
  bottom: 0;
  left: auto;
  right: 40px;
  z-index: 10;

  a {
    position: relative;
    top: 0;
    margin: 20px auto;
    letter-spacing: 0.1em;
    writing-mode: vertical-rl;
    font-size: var(--fs-xxs);
    font-family: var(--fira-font), sans-serif;
    text-decoration: none;
    color: var(--primary-font-color);
    transition: all .25s ease-in;
  }
  :hover {
    top: -4px;
    color: var(--accent-color);
  }
}
.mail_link::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0 auto;
  background-color: var(--primary-font-color);
}

.social_links {
  width: 40px;
  position: fixed;
  bottom: 0;
  left: 40px;
  right: auto;
  z-index: 10;

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;

    li {
      padding: 5px;

      a {
        position: relative;
        top: 0;
        transition: all .25s ease-in;
        svg {
          width: 28px;
          height: 28px;
          color: var(--primary-font-color);
          transition: all .25s ease-in;
        }
      }

      &:hover {
        a {
          top: -4px;
          svg {
            color: var(--accent-color);
          }
        }
      }
    }
  }
}
.social_links::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0 auto;
  background-color: var(--primary-font-color);
}

.cv-download {
  position: fixed;
  top: var(--footer-height);
  left: 40px;
  width: 50px;
  height: 50px;
  padding: 12px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s all linear;

  a {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    svg {
      color: var(--primary-font-color);
    }
  }
}
.cv-download:hover {
  scale: 1.1;
  a {
    svg {
      color: var(--accent-color);
    }
  }
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: min(10vh, 200px);
  width: 90vw;
  max-width: 2048px;
  margin: 0 auto;

  section {
    justify-self: center;
    width: min(100%, 1024px);
    min-height: 100vh;
    color: var(--secondary-font-color);
  }

  .section-title-container {
    width: 100%;
    margin-bottom: var(--margin-xxl);
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      font-weight: 800;
      font-size: var(--fs-xxxl);
    }
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .about {
      >:nth-child(1) {
        color: var(--accent-color);
        font-family: var(--fira-font), sans-serif;
      }
      >:nth-child(2) {
        color: var(--primary-font-color);
      }
      >:nth-child(3) {
        margin-bottom: var(--margin-l);
      }
      >:nth-child(3) {
        h2:first-child {
          display: block;
        }
      }

      div {
        margin-bottom: var(--margin-xs);
      }

      h2 {
        display: inline;
        font-weight: 800;
        font-size: var(--fs-xxxl);
      }
      #profession {
        color: var(--primary-font-color);
        font-family: var(--fira-font), sans-serif;
      }
    }

    .scroll_down {
      height: fit-content;
      position: relative;
      &::after {
        position: absolute;
        bottom: -22px;
        left: 50%;
        z-index: -1;
        transform: translateX(-50%);
        content: "";
        width: 24px;
        height: 12px;
        background-color: var(--secondary-font-color);
        border-radius: 50%;
        opacity: 0.4;
        animation: grow 2s infinite ease-in-out;
      }
      svg {
        position: relative;
        width: 42px;
        color: var(--primary-font-color);
        animation: bounce 2s infinite ease-in-out;
      }
    }
  }

  .work {
    display: grid;
    gap: var(--margin-xxl);
    article {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--margin-xl);
      width: 100%;
      height: fit-content;
      padding: var(--margin-xl);
      background-color: var(--secondary-color);
      border-radius: var(--border-radius);
      .image-container {
        position: relative;
        border-radius: inherit;
        align-self: center;
        height: 100%;
        width: 100%;
        img {
          border-radius: inherit;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top left;
        }
        a {
          position: absolute;
          z-index: 10;
          width: 100%;
          height: 100%;
        }
      }
      .info-card {
        header {
          margin-bottom: var(--margin-l);
          h2 {
            color: var(--primary-font-color);
            margin-bottom: var(--margin-xs);
          }
          ul {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: var(--margin-s);
            li {
              display: flex;
              align-items: center;
              gap: var(--margin-xs);
              svg {
                width: 20px;
                color: var(--accent-color);
              }
              a {
                border-bottom: 1px solid var(--accent-color);
              }
            }
          }
        }
        .skills_bar {
          display: grid;
          flex-direction: row;
          grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
          gap: var(--margin-s);
          text-align: center;
          margin-bottom: var(--margin-l);
          li {
            color: var(--primary-font-color);
            padding: 10px;
            border: 1px solid var(--secondary-font-color);
            border-radius: var(--border-radius) 0 var(--border-radius) 0;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .highlights {
          li {
            list-style: square;
            margin-bottom: var(--margin-s);
            span {
              color: var(--primary-font-color);
            }
          }
        }
      }

      .viac {
        img {
          object-position: center right;
        }
      }

      .foodsharing {
        img {
          object-position: center center;
        }
      }
    }
  }

  .projects {
    .article-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 380px));
      gap: var(--margin-xl);
      article {
        display: grid;
        grid-template-rows: 1fr 2fr;
        height: 100%;
        gap: var(--margin-l);
        padding: var(--margin-xl);
        background-color: var(--secondary-color);
        border-radius: var(--border-radius);
        .image-container {
          position: relative;
          border-radius: inherit;

          img {
            border-radius: inherit;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top left;
          }
          a {
            position: absolute;
            z-index: 10;
            width: 100%;
            height: 100%;
          }
        }
        .info-card {
          header {
            margin-bottom: var(--margin-l);
            h2 {
              color: var(--primary-font-color);
              margin-bottom: var(--margin-xs);
            }
          }
          .skills_bar {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
            gap: var(--margin-s);
            margin-bottom: var(--margin-l);
            li {
              color: var(--primary-font-color);
              list-style: square;
            }
          }
          .highlights {
            span {
              color: var(--primary-font-color);
            }
          }
        }
      }
    }
  }

  .education {
    .education-container {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        background-color: var(--primary-font-color);
      }

      article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: stretch;
        align-items: stretch;

        &:nth-child(even) {
          .milestone {
            grid-column: 2 / span 1;
            text-align: end;
          }
        }

        &:nth-child(odd) {
          .milestone {
            grid-column: 1 / span 1;
          }
        }

        .milestone {
          display: grid;
          grid-template-columns: 1fr;
          align-items: center;
          gap: var(--margin-s);
          padding: 0 var(--margin-s);
          svg {
            width: var(--fs-xl);
            color: var(--accent-color);
          }
          span {
            color: var(--primary-font-color);
          }
        }
      }
    }
  }
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 40px;
  right: 40px;
  > .hexagon-container {
    position: relative;

    a {
      position: relative;
      inset: 0;
      display: flex;
      align-items:center;
      justify-content: center;
      height: 100px;
      width: 100px;
      z-index: 100;
      color: var(--primary-font-color);
      font-size: var(--fs-xl);

      .hexagon {
        --b: 8px; /* adjust to control the border  */
        height: 100px; /* adjust to control the size  */
        aspect-ratio: cos(30deg);
        clip-path: polygon(50% 0, -50% 50%, 50% 100%, 150% 50%, 50% 0,
                50% var(--b),
                calc(100% - var(--b) * sin(60deg)) calc(25% + var(--b) * cos(60deg)),
                calc(100% - var(--b) * sin(60deg)) calc(75% - var(--b) * cos(60deg)),
                50% calc(100% - var(--b)),
                calc(var(--b) * sin(60deg)) calc(75% - var(--b) * cos(60deg)),
                calc(var(--b) * sin(60deg)) calc(25% + var(--b) * cos(60deg)),
                50% var(--b));
        background: var(--primary-font-color);
        position: absolute;
      }

      &::after {
        color: var(--primary-font-color);
        position: absolute;
        content: attr(data-text);
        opacity: 0;
        right: 100%;
        transition: all 0.4s ease;
      }
      &:hover {
       color: var(--accent-color);
        &::after {
          right: 150%;
          opacity: 1;
        }
      }
    }
  }

  >.loadbar {
    position: relative;
    width: 3px;
    height:90px;
    background-color: var(--primary-font-color);
    >.progress {
      --s: 0;
      position: absolute;
      content: "";
      width: 3px;
      height: var(--s);
      background-color: var(--accent-color);
      transition: height 0.2s ease;
    }
  }
}

footer {
  > :first-child,
  > :last-child {
    display: none;
  }
  :nth-child(1) {
    grid-column: 1;
    justify-self: start;
  }
  :nth-child(2) {
    grid-column: 2;
  }
  :nth-child(3) {
    grid-column: 3;
    justify-self: end;
  }
  position: sticky;
  bottom: 0;
  width: 100vw;
  height: var(--footer-height);
  padding: 20px;
  display: grid;
  font-size: var(--fs-xxs);
  font-family: var(--fira-font), sans-serif;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

@media screen and (max-width: 1200px){
  h2 {
    font-size: var(--fs-xxl) !important;
  }
  .mail_link, .social_links {
    display: none;
  }
  footer {
    > :first-child,
    > :last-child {
      display: block;
    }
    ul {
      li {
        display: inline;
        margin-right: var(--margin-xs);
      }
    }

    :nth-child(2) {
      max-width: 30vw;
    }

    svg {
      width: 28px;
      height: 28px;
      color: var(--primary-font-color);
      transition: all .25s ease-in;

      :hover {
        color: var(--accent-color);
      }
    }
  }

  main {
    section {
      min-width: 100%;
    }
    .hero {
      justify-content: space-evenly;
      padding: var(--footer-height) 0;
      .about{
        >:nth-child(3) {
          h2:first-child {
            display: block;
          }
        }
        div {
          h2 {
            font-size: var(--fs-xxl);
          }
        }
      }
    }

    .work {
      article {
        grid-template-columns: 1fr;
      }
    }

    .projects {
      .article-container {
        grid-template-columns: repeat(auto-fit, min(350px, 100%));
        justify-items: center;
      }
    }

    .education {
      .education-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--margin-l);
        &:before {
          width: 0;
        }

        article {
          grid-template-columns: 1fr;

          &:nth-child(even), &:nth-child(odd) {
            .milestone {
              grid-column: 1;
              text-align: start;
            }
          }

          .milestone {
            grid-template-columns: 1fr;
            justify-items: center;
          }
        }
      }
    }
  }

  aside {
    width: 100vw;
    height: var(--footer-height);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    flex-direction: row;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    >.hexagon-container {
      a {
        --size: 48px;
        height: var(--size);
        width: var(--size);
        &:hover {
          color: var(--primary-font-color);
        }
        &::after {
          content: "";
        }
        .hexagon {
          --b: 4px; /* adjust to control the border  */
          height: var(--size); /* adjust to control the size  */
          width: var(--size);
        }
      }
    }
    >.loadbar {
      width: 90px;
      height:3px;
      >.progress {
        position: absolute;
        content: "";
        width: var(--s);
        height: 3px;
        background-color: var(--accent-color);
        transition: height 0.2s ease;
      }
    }
  }

  .cv-download {
    bottom: var(--footer-height);
    right: 10px;
    top: unset;
    left: unset;
  }
}

@keyframes bounce {
  0%, 100% {
    top: 0;
  }
  25% {
    top: 12px;
  }
  50% {
    top: 4px;
  }
  75% {
    top: 12px;
  }
}

@keyframes grow {
  0%, 100% {
    width: 24px;
    opacity: 0.4;
  }
  25% {
    width: 32px;
    opacity: 0.6;
  }
  50% {
    width: 26px;
    opacity: 0.5;
  }
  75% {
    width: 32px;
    opacity: 0.6;
  }
}